
@import "bootstrap";

* {
	font-family: 'Roboto', sans-serif;
}

.title-heading {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
}

.subheading {
    font-weight: 100;
    color: #c1c1c1;
}

.ta-row {
    background-color: white;
    border-radius: 10px;
    border-style: outset;
    border-color: #fcfcfc;
    margin-bottom: 20px;
}

.ta-thumbnail {
    padding: 25px;
    font-weight: 100;
    color: #c1c1c1;
}

.carousel-dates{
    padding: 25px;
    font-weight: 100;
    color: #c1c1c1;
}

.ta-calendar {
    background-color: white;
    border-radius: 10px;
    border-style: outset;
    border-color: #fcfcfc;
    margin-bottom: 100px;
}

.buttons {
  margin: auto;
  
}

.time-buttons {
    padding: 10px;
    margin: 5px;
    
}

.calendar-title {
    text-align: center;
    font-weight: 100;
    color: #c1c1c1;
}

.title-heading {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
}

.navbar {
	background-color: white;
  margin-bottom: 20px;
}

.navbar-nav {
	display: block;
}

.confirm-heading {
	line-height: 1em;
	text-align: center;	

}

.back-button {
	margin-left: 20%;
	color: #c1c1c1;
}


.back-button:hover {
	text-decoration: none;
	color: gray;
}


body {
	background-color: #f4f5f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
	background-color: white;
	border-radius: 5px;
	width: 60%;
}

.subheading {
	color: #c1c1c1;
}

.ta-images {
	border-radius: 100%;
}

.button-confirm {
	margin-left: 40%;
	width: 20%;
	padding-bottom: 10px;
}

.form-control {
	width: 80%;
}

.form-group {
	margin-left: 17%;
}

.note-text-box {
	height: 150px;
}

.button-confirm {
	margin-left: 40%;
}
.confirm-title {
	padding-top: 10px;
	font-weight: bold;
}

.footer-bottega {
	position: fixed;
	font-size: 10px;
	padding: 10px;
	bottom: 0;
	background-color: white;
}

